  #switch_ru {
    color: white;
    position: relative;
    border-image:white;
    border-image-slice: 1;
    text-transform: uppercase;
    overflow: hidden;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
  }
  #switch_ru:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    color: white;
    background: white;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
  }
  #switch_ru:hover {
    background: rgba(255, 255, 255, 0);
    color: black;
  }
  #switch_ru:hover:before {
    bottom: 0%;
    top: auto;
    height: 100%;
  }
  #switch_eng {
    color: white;
    position: relative;
    border-image:white;
    border-image-slice: 1;
    text-transform: uppercase;
    overflow: hidden;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
  }
  #switch_eng:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    color: white;
    background: white;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
  }
  #switch_eng:hover {
    background: rgba(255, 255, 255, 0);
    color: black;
  }
  #switch_eng:hover:before {
    bottom: 0%;
    top: auto;
    height: 100%;
  }